node_modules
**/node_modules
dist
coverage
.git
.gitignore
playwright-report
test-results
cypress/videos
cypress/screenshots
tmp
desktop-dist
playwright-results
tests
cypress
docs
*.log
*.submit.yaml
.tmp*
.env
.env.local
.env.*.local
*.tar
*.tar.gz
